{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "bracketSpacing": true,
        "singleQuote": false
      }
    }
  ]
}
