# Your discord bot token obtained from https://discord.com/developers/applications
BOT_TOKEN=your.bot.token
# Your discord application's client ID obtained from https://discord.com/developers/applications
CLIENT_ID=123456789
# The guild to sync slash commands to (0 for global)
GUILD_ID=0

# List of modules / features to load on startup (separated by a comma)
# Example: AUTOLOAD=feature1,feature2
AUTOLOAD=example