# Your discord bot token obtained from https://discord.com/developers/applications
BOT_TOKEN=your.bot.token
# List of modules / features to load on startup (separated by a comma)
# Example: AUTOLOAD=feature1,feature2
AUTOLOAD=example